gym~=0.23.1
numpy~=1.22.3
matplotlib~=3.5.2
Pillow~=9.1.0
pip~=21.1.2
wheel~=0.36.2
rsa~=4.8
pyasn1~=0.4.8
six~=1.16.0
pytz~=2022.1
setuptools~=57.0.0
scipy~=1.8.0
torch~=1.11.0
tensorboard~=2.9.0
urllib3~=1.26.9
cachetools~=5.0.0
certifi~=2021.10.8
requests~=2.27.1
pandas~=1.4.2
python-dateutil~=2.8.2
cycler~=0.11.0
seaborn~=0.11.2
Markdown~=3.3.7
oauthlib~=3.2.0
idna~=3.3
Werkzeug~=2.1.2
fonttools~=4.33.3
pyparsing~=3.0.8
packaging~=21.3
kiwisolver~=1.4.2
cloudpickle~=2.0.0
zipp~=3.8.0
stable_baselines3